<html>
    <head>
        <title>Video Streaming Demonstration</title>
        <link rel="stylesheet" href='../static/style.css'> 
      </head>
    <body>

        
		<center><h1>Raspi Car </h1></center>
		<center><img src="http://127.0.0.1:9000/stream.mjpg" width="1280" height="960" autoplay playsinline class="rotateimg0"></center>
	
        <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
        </script>
        <script type="text/javascript">
        // forward function 
        function forward_func(element, color,action) {
            if(!color) {
            color = element.dataset.normalColor;
            $.ajax({
                type: "POST", url: "/",data:{data:'stop'},
                success: function(result) {
                    console.log('good');
                },
                error: function(result) {
                    alert('error');
                }
            });
            } else {
            element.dataset.normalColor = element.style.backgroundColor;
            $.ajax({type: "POST", url: "/", data:{data:action},
                success: function(result) {
                    console.log('good');
                },
                error: function(result) {
                    alert('error');
                }
            });
            }
            element.style.backgroundColor = color;
        }
        </script>
        &nbsp; 
        <center>
        <button onpointerdown="forward_func(this,'blue','forward')" onpointerup="forward_func(this)" style="height:120px;width:120px">Forward</button><br/>
        <button onpointerdown="forward_func(this,'blue','back')" onpointerup="forward_func(this)" style="height:120px;width:120px">Back</button>
        <button></button> <button></button> <button></button> <button></button> <button></button> <button></button> 
        <button onpointerdown="forward_func(this,'blue','left')" onpointerup="forward_func(this)" style="height:120px;width:120px">Left</button><br/>
        <button onpointerdown="forward_func(this,'blue','right')" onpointerup="forward_func(this)" style="height:120px;width:120px">Right</button>
        
        </center>
    </body>
</html>

